<input
  type={{type}}
  class="c-checkable-field__input c-checkable-field--{{type}}"
  id="checkable-field-{{elementId}}"
  name={{name}}
  disabled={{disabled}}
>
<label
  for="checkable-field-{{elementId}}"
  class="c-checkable-field__label  {{if disabled "c-checkable-field__label--disabled"}}"
>
  {{optionLabel}}
</label>