<div class="c-project-box{{if highlight "--highlight" ""}}" id="benefit">
  <object class="c-project-box__image" data={{project.image}} type="image/jpg">
    <img src={{imageLink}} class="c-project-box__image" alt={{project.name}}>
  </object>
    {{project.name}}
</div>
