<span class="c-status-update__text--emphasis" id={{update.author.firstName}}>{{update.author.firstName}} commented:</span>&nbsp;&nbsp;
{{update.log}}
{{update.description}}&nbsp;&nbsp;
<span class="c-status-update__text--emphasis">{{date}}</span>
